<a href="https://colab.research.google.com/github/shnakshi090/Python/blob/main/tuples%2Csets%2Cdictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Create a tuple
my_tuple = (1,'a',3)


print(my_tuple)

(1, 'a', 3)

In [3]:
type(my_tuple)

tuple

In [4]:
# can also mix object types
another_tuple = ('one',2, 4.53, 'asbc')

# Show
another_tuple

('one', 2, 4.53, 'asbc')

In [6]:
my_list = [1]

type (my_list)

list

In [7]:
my_tuple = (1,)

type(my_tuple)

tuple

In [8]:
my_tuple = 1,2,3

type(my_tuple)

tuple

In [9]:
my_tuple = (1,2,3,4)

len(my_tuple)

4

In [10]:
print(another_tuple)

('one', 2, 4.53, 'asbc')

In [11]:
# grab the element at index 0, which is the FIRST element
another_tuple[0]

'one'

In [12]:
# grab the element at index 3, which is the FOURTH element
another_tuple[3]

'asbc'

In [13]:
# grab the element at index -1,which is the LAST element
another_tuple[-1]

'asbc'

In [14]:
# grab the element at index -3,which is the THIRD LAST element
another_tuple[-3]

2

In [15]:
# Print out list
print (another_tuple)

('one', 2, 4.53, 'asbc')

In [16]:
# grab the element starting from index 1 and everything past it
another_tuple[1:3]

(2, 4.53)

In [17]:
# grab everything starting from index 2
another_tuple[2:]

(4.53, 'asbc')

In [21]:
# grab everything before the index 4
another_tuple[:6]

('one', 2, 4.53, 'asbc')

In [22]:
# grab everything
another_tuple

('one', 2, 4.53, 'asbc')

In [117]:
# grab the LAST FOUR elements of the list
another_tuple[-3:]

(2, 4.53, 'asbc')

In [24]:
another_tuple[5]

IndexError: tuple index out of range

In [25]:
# Check len just like a list
len(another_tuple)

4

In [27]:
random_tuple = (1,5,6,2)


sorted(random_tuple)

[1, 2, 5, 6]

In [28]:
my_tuple =(1,2,3,4,5,6,1,1,2)

# Use .index to enter a value and written the index
my_tuple.index(2)

1

In [29]:
#Use .count to count the number of time a value appears
my_tuple.count(2)

2

In [31]:
my_tuple.count(1)

3

In [37]:
my_tuple

my_list = {1,2,3,4}

In [38]:
print(my_tuple)

(1, 2, 3, 4, 5, 6, 1, 1, 2)

In [39]:
my_tuple[0]

1

In [40]:
my_tuple[0] = 'change'

TypeError: 'tuple' object does not support item assignment

In [42]:
# Create a list
my_list = [5,7,9,3,2]

# Replace the FIRST element with the value 1
my_list[0] = 1

# Our modified list
my_list

[1, 7, 9, 3, 2]

In [43]:
my_tuple.append('Great!')

AttributeError: 'tuple' object has no attribute 'append'

In [44]:
# Creat an empty set
empty_set = set()

type(empty_set)

set

In [45]:
# Creat a non-empty set within curly braces
non_empty_set = {1,6,4,'abc'}

type(empty_set)

set

In [46]:
my_object = {}

type(my_object)

dict

In [47]:
my_set = set()

type(my_set)

set

In [48]:
# creat a list with respects
my_list = [1,1,2,2,3,4,5,6,1,1]


#cast as set to get unique values
my_set = set(my_list)

my_set

{1, 2, 3, 4, 5, 6}

In [113]:

my_set = {1,2,(3, 4)}


my_set = {1,2, (2, 3)}

my_set

{(2, 3), 1, 2}

In [52]:
my_set = {1,2,{3,5}}

TypeError: unhashable type: 'set'

In [53]:
my_set

{(2, 3), 1, 2}

In [55]:
# We add the set with the add() method
my_set = set()
my_set.add('a')


#show
my_set

{'a'}

In [56]:
# Add a diffrent element
my_set.add(2)

#show
print(my_set)

{2, 'a'}

In [69]:
# Lets add another element 1
my_set.add(1)

In [80]:
#show
X

1

In [89]:
# try to add a same element 1 again
my_set.add(1)

my_set

{1, 2, 'a'}

In [91]:
my_set = {5,7,9,3}

# add multiple elements
my_set.update([2,3,4])
print(my_set)

{2, 3, 4, 5, 7, 9}

In [92]:
non_empty_set = {1,5,6,73,2}

non_empty_set.remove(5)

non_empty_set

{1, 2, 6, 73}

In [93]:
non_empty_set.remove(45)

KeyError: 45

In [94]:
# Initialize sets A and B
A = {1,2,3,4,5}
B = {4,5,6,7,8}

A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [95]:
A

{1, 2, 3, 4, 5}

In [96]:
# Also denoted by the operator \
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [98]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

A.intersection(B)

{4, 5}

In [99]:
# Also denoted by the operator &
A & B

{4, 5}

In [100]:
A ={1,2,3,4,5}
B = {4,5,6,7,8}

A.difference(B)

{1, 2, 3}

In [101]:
# Also denoted by the operator -
A - B

{1, 2, 3}

In [102]:
B.difference(A)

{6, 7, 8}

In [105]:
B - A

{6, 7, 8}

In [106]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [107]:
A^B

{1, 2, 3, 6, 7, 8}

In [112]:
# Make a dictionary with {} and : to signify a key and a value
marvel_dict = {'Name':'thor','Place':'asgard','weapon' : 'hammer',1:2,3:'power','alibies' :['ironman','caption america'],'abc' : {1:2}}

# call values by their key
marvel_dict['Place']

'asgard'

In [118]:
type(marvel_dict)

dict

In [120]:
marvel_dict['Name']

'thor'

In [121]:
marvel_dict['Random']

KeyError: 'Random'

In [122]:
marvel_dict['weapon']

'hammer'

In [123]:
marvel_dict['alibies']

['ironman', 'caption america']

In [124]:
type(marvel_dict['abc'])

dict

In [126]:
marvel_dict.keys()

dict_keys(['Name', 'Place', 'weapon', 1, 3, 'alibies', 'abc'])

In [127]:
list(marvel_dict.keys())

['Name', 'Place', 'weapon', 1, 3, 'alibies', 'abc']

In [129]:
print(marvel_dict)

{'Name': 'thor', 'Place': 'asgard', 'weapon': 'hammer', 1: 2, 3: 'power', 'alibies': ['ironman', 'caption america'], 'abc': {1: 2}}

In [130]:
list(marvel_dict.values())

['thor',
 'asgard',
 'hammer',
 2,
 'power',
 ['ironman', 'caption america'],
 {1: 2}]

In [131]:
list(marvel_dict.items())

[('Name', 'thor'),
 ('Place', 'asgard'),
 ('weapon', 'hammer'),
 (1, 2),
 (3, 'power'),
 ('alibies', ['ironman', 'caption america']),
 ('abc', {1: 2})]

In [132]:
marvel_dict.get('Place')

'asgard'

In [133]:
marvel_dict.get('Place')

'asgard'

In [134]:
marvel_dict.get('Random','Not Found')

'Not Found'